import { AnswerState } from "@learnblocks/utils"
import * as React from "react"
import { {{properCase componentName}}Block, {{properCase componentName}}Editor, {{properCase componentName}}Presenter } from "../src";

export default {
  title: "{{properCase componentName}}",
  decorators: [(story: Function) => <div>{story()}</div>],
}

export const Basic = () => {
  const [block, setBlock] = React.useState<{{properCase componentName}}Block>({
    type: "{{componentName}}",
    text: "hi there",
  })
  const [result, setResult] = React.useState<AnswerState>({})

  return (
    <div
      style=\{{
        display: "flex",
        justifyContent: "space-between",
        width: "100%",
      }}
    >
      <div>
        <{{properCase componentName}}Editor block={block} onChange={setBlock} />
      </div>
      <div>
        <{{properCase componentName}}Presenter block={block} onResult={setResult} />
      </div>
      <div>{JSON.stringify(result)}</div>
    </div>
  )
}
